@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
/* start: General styles */
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-column {
  @apply flex flex-col;
}

.product-card {
  @apply flex flex-col p-6 justify-center items-start text-black bg-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

/* className="flex-column min-w-[250px] w-full h-[750px] bg-white shadow-xl  border-2 mt-5 rounded-xl p-6"> */
