@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
/* start: General styles */
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-column {
  @apply flex flex-col;
}

.product-card {
  @apply flex flex-col p-6 min-w-[350px] w-full max-h-[750px] h-[600px]  text-black bg-white hover:shadow-md rounded-3xl  border-2  hover:border-4;
}

.grid-card {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-10 px-20;
}
